.content-box
{
    padding-top:20px;
}

/*====左侧栏====*/

/*搜索*/
.content-box .side-left .input-group input
{
    font-size:10px;
    border-color: #bce8f1;
}

.content-box .side-left .input-group .dropdown-toggle
{
    border-color: #bce8f1;
}

.content-box .side-left .input-group .search-btn
{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.content-box .side-left .input-group .search-btn:hover,
.content-box .side-left .input-group .search-btn:focus
{
    background-color: #bce8f1;
    border-color: #2294ca;
}

/*操作栏*/
.content-box .side-left .panel .panel-heading
{
    text-align:center;
}

.content-box .side-left .list-group 
{
    text-align:center;
}

.content-box .side-left .list-group .glyphicon
{
    color:#ccc;
}

/*====右侧栏====*/
.content-box .side-right .title
{
    font-size:20px;
    font-weight:bold;
    font-family:'Microsoft YaHei UI','Microsoft YaHei', sans-serif;
}

.content-box .side-right .content
{
    margin-top:30px;
    margin-bottom:20px;
    min-height:200px;
    padding-top:10px;
    border-top:1px dashed #ddd;
    overflow-x:auto;
}

.content-box .side-right .content img
{
    max-width:100%;
}

.content-box .side-right .tag
{
    font-size:14px;
    color:#888;
}

.content-box .side-right .tag a
{
    color:#4c4f8b;
    text-decoration:underline;
    padding:0 2px;
}

.content-box .side-right .praise
{
    margin-top:10px;
    text-align:center;
}

.content-box .side-right .praise .praise-des
{
    padding:5px 2px;
    color: #999;
    border:1px solid #ddd;
    cursor:pointer;
}

.content-box .side-right .praise .own-praise-des
{
    padding:5px 2px;
    color: #999;
    border:1px solid #ddd;
}

.content-box .side-right .praise .praise-des:hover
{
    color:#e4393c;
    border-color:#e4393c;
}

.content-box .side-right .near-post
{
    margin-top:10px;
}

.content-box .side-right .footer-info
{
    margin-top:10px;
    padding-top:5px;
    border-top:1px solid #ddd;
    text-align:right;
}
.content-box .side-right .footer-info p
{
    font-size:13px;
    font-family:'Microsoft YaHei UI','Microsoft YaHei', sans-serif;
    line-height:16px;
    color:#777;
}

.content-box .side-right .footer-info p a
{
    color:#39adb4;
}

 @media only screen and (max-width: 767px), only screen and (max-device-width: 767px) 
{
    .content-box .side-right .footer-info
    {
        text-align:left;
    }
}