
@{
    ViewBag.Title = "资源";
}

<div class="body-content">
    <div class="content-box">
        <hr />
        <center><p class="red">此功能暂未开通!</p></center>
    </div>
</div>

@section Styles{
    <link href="~/Content/Home/Resources/Resources.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Content/Home/Resources/Resources.js"></script>
}