.content-box
{
    padding-top:30px;
}

/*左侧信息*/
.content-box .side-left .list-group .glyphicon
{
    color:#ccc;
}
.content-box .side-left .panel .panel-heading
{
    text-align:center;
}

/*右侧信息*/
.content-box .side-right .blog-info
{
    padding:10px;
}
.content-box .side-right .blog-info .title
{
    text-align:center;
    font-size:16px;
    font-family:'Microsoft YaHei UI','Microsoft YaHei', sans-serif;
}

.content-box  .side-right  .blog-info .col-lg-12 label
{
    font-size:12px;
    font-weight:100;
}

 .content-box  .side-right  .blog-info .col-lg-12
{
    padding-left:0;
    padding-right:0;
    padding-bottom:10px;
}

.content-box  .side-right  .blog-info .col-lg-12 textarea
{
    vertical-align:top;
}

.content-box  .side-right  .blog-info .col-lg-12  .tag-input
{
    width:50%;
}

.content-box  .side-right  .blog-info .form-control 
{
    border-radius:0;
}

 @media only screen and (max-width: 767px), only screen and (max-device-width: 767px) 
{
    
    .content-box .side-right .blog-info
    {
        padding:10px 0 0 0;
    }

    .content-box  .side-right  .blog-info .col-xs-12
    {
        padding-left:0;
        padding-right:0;
        padding-bottom:10px;
    }

    .content-box  .side-right  .blog-info .col-lg-12  .tag-input
    {
         width:100%;
    }
}