@model WingStudio.Models.User
@{
    ViewBag.Title = "账户设置";
}

<div class="body-content">
    <div class="content-box">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/User/AccountSetting">账户设置</a></li>
            <li role="presentation"><a href="/User/InfoSetting">个人信息</a></li>
            <li role="presentation"><a href="/User/ContactSetting">联系方式</a></li>
            <li role="presentation"><a id="upload_avatar" class="pointer">更新头像</a></li>
        </ul>
        <div class="update-info">
            <div class="data-line">
                <div><strong>登录用户名</strong><a href="###" class="float-right" onclick="LoginNameToggle();">修改</a></div>
                <hr class="solid-line" />
                <div id="loginName_display_block" class="margin-bottom-10" style="display:block"><span>你的登录用户名</span><span id="loginName" class="float-right">@Model.Account</span></div>
                <div id="loginName_edit_block" style="display:none">
                    <span>新登录用户名：</span>
                    <input id="txt_loginName" type="text" class="input-style" minlength="4" maxlength="20" />
                    <span>4-20数字或字母</span>
                    <div class="btn_wrapper">
                        <input type="button" onclick="ChangeLoginName();" value="保存">
                        <input type="button" onclick="LoginNameToggle();" value="取消">
                    </div>
                </div>
                <span id="tip_loginName" class="red"></span>
            </div>
            <div class="data-line">
                <div><strong>密码</strong><a href="###" class="float-right" onclick="PasswordToggle();">修改</a></div>
                <hr class="solid-line" />
                <div id="password_display_block" class="margin-bottom-10" style="display:block"><span>你的密码</span><span class="float-right">******</span></div>
                <div id="password_edit_block" style="display:none">
                    <table>
                        <tbody>
                            <tr>
                                <td class="txt-title">旧密码：</td>
                                <td>
                                    <input id="txt_oldpwd" class="input-style" type="password" minlength="6" maxlength="20">
                                </td>
                            </tr>
                            <tr>
                                <td class="txt-title">新密码：</td>
                                <td>
                                    <input id="txt_newpwd" class="input-style" type="password" minlength="6" maxlength="20"> 6-20数字或字母
                                </td>
                            </tr>
                            <tr>
                                <td class="txt-title">确认密码：</td>
                                <td>
                                    <input id="txt_confirmpwd" class="input-style" type="password" minlength="6" maxlength="20">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn_wrapper">
                        <input type="button" onclick="ChangePassword();" value="保存">
                        <input type="button" onclick="PasswordToggle();" value="取消">
                    </div>
                </div>
                <span id="tip_password" class="red"></span>
            </div>
            <div class="data-line">
                <div><strong>安全提问</strong><a href="###" class="float-right" onclick="SecQusetionToggle();">修改</a></div>
                <hr class="solid-line" />
                <div id="secQusetion_display_block" class="margin-bottom-10" style="display:block">
                    <span>你的安全提问</span>
                    @if (Model.SecQuestion == WingStudio.Models.SecurityFlag.None)
                    {
                        <span id="secQusetionState" class="float-right">未设置</span>
                    }
                    else
                    {
                        <span id="secQusetionState" class="float-right green">已开启</span>
                    }
                </div>
                <div id="secQusetion_edit_block" style="display:none">
                    <span>安全提问：</span>
                    <select class="form-control" id="secQusetion" onchange="if($('#secQusetion').val() > 0) { $('#txt_answer_box').css('display', ''); } else { $('#txt_answer_box').css('display', 'none'); }">
                        <option value="0" selected="selected">安全提问(未设置)</option>
                        <option value="1">母亲的名字</option>
                        <option value="2">爷爷的名字</option>
                        <option value="3">父亲出生的城市</option>
                        <option value="4">您其中一位老师的名字</option>
                        <option value="5">您个人计算机的型号</option>
                        <option value="6">您最喜欢的餐馆名称</option>
                    </select>
                    <div id="txt_answer_box" style="display:none">
                        <input id="txt_answer" type="text" class="input-style" maxlength="50" /> 50个字内 <span class="green">[找回密码后会置空]</span>
                    </div>
                    <div class="btn_wrapper">
                        <input type="button" onclick="ChangeSecQusetion();" value="保存">
                        <input type="button" onclick="SecQusetionToggle();" value="取消">
                    </div>
                </div>
                <span id="tip_secQusetion" class="red"></span>
            </div>
            <div class="data-line">
                <div><strong>姓名</strong><a href="###" class="float-right" onclick="NameToggle();">修改</a></div>
                <hr class="solid-line" />
                <div id="name_display_block" class="margin-bottom-10" style="display:block"><span>你的姓名</span><span id="name" class="float-right">@Model.Name</span></div>
                <div id="name_edit_block" style="display:none">
                    <span>新姓名：</span>
                    <input id="txt_name" type="text" class="input-style" minlength="1" maxlength="20" />
                    <span>不超过20个字</span>
                    <div class="btn_wrapper">
                        <input type="button" onclick="ChangeName();" value="保存">
                        <input type="button" onclick="NameToggle();" value="取消">
                    </div>
                </div>
                <span id="tip_name" class="red"></span>
            </div>
            <div class="data-line">
                <div><strong>通知邮箱</strong><a href="###" class="float-right" onclick="EmailToggle();">修改</a></div>
                <hr class="solid-line" />
                <div id="email_display_block" class="margin-bottom-10" style="display:block"><span>你的通知邮箱</span><span id="email" class="float-right">@Model.Email</span></div>
                <div id="email_edit_block" style="display:none">
                    <span>新通知邮箱：</span>
                    <input id="txt_email" type="text" class="input-style" minlength="1" />
                    <div class="btn_wrapper">
                        <input type="button" onclick="ChangeEmail();" value="保存">
                        <input type="button" onclick="EmailToggle();" value="取消">
                    </div>
                </div>
                <span id="tip_email" class="red"></span>
            </div>
        </div>
    </div>
</div>

@section Styles{
   <link href="~/Content/User/AccountSetting/AccountSetting.css" rel="stylesheet" />
}

@section Scripts{
   <script src="~/Content/User/AccountSetting/AccountSetting.js"></script>
}